.products {
  // background-image: url('');
  // height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 8%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.product {
  width: 25%;
  // padding: 10px;
  margin: 15px;
}

.product .content {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(83, 195, 247, 0.8);
  border-radius: 10px;
}
.image_content {
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  background: rgba(83, 195, 247, 0.8);
  font-family: 'Varela Round', sans-serif;
  border: none;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: rgb(83, 82, 82);
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}
