.container {
  min-height: calc(100vh - 12vh);
  padding: 0 1rem;
  margin: 0 auto;
}
/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.contain-table {
  overflow-x: auto;
}

@media (min-width: 600px) {
  .contain-table {
    width: 100%;
  }
}

.flex__row--column {
  display: flex;
}
.flex__row--column h2 {
  display: inline-block;
  margin: 10px 0;
}
.column {
  margin: 0 15px;
  width: 22%;
}
.reg {
  width: 78%;
}

.muted-button {
  background: rgba(83, 195, 247, 0.8);
  font-family: 'Varela Round', sans-serif;
  display: inline-block;
  margin: 0 5px 0 0;
  width: 40%;
  height: 25px;
  cursor: pointer;
}
