.footer {
  background-color: rgb(28, 36, 44);
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: dimgray;
  cursor: pointer;
  font-size: 14px;
  margin-left: 40px;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
  color: #ffffff;
}
