// estilos nuevos
.user {
  height: 650px;
  display: flex;
  // align-items: center;
  // justify-content: center;
}
.user p {
  margin: 0 0 20px;
}
.user__container {
  width: 15%;
  margin: 40px;
  background-color: #fff;
  padding: 0;
  box-shadow: 2px 0px 0px -1px #353535;
  // box-shadow: 0 0 6px rgba(83, 195, 247, 0.8);
  // border-radius: 10px;
}

.badge__section-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // padding: 1rem 0;
  // z-index: 1;
  box-shadow: 0px 5px 10px -10px #353535;
  // -webkit-box-shadow: 0px 8px 10px -9px #00bfff;
}

.badge__section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  z-index: 1;
  box-shadow: 0px 5px 10px -9px #353535;
  -webkit-box-shadow: 0px 5px 10px -9px #353535;
}

.user__container p {
  color: #00bfff;
  font-size: 15px;
  font-weight: 600;
}

.badge__avatar {
  border-radius: 50%;
  width: 120px;
  margin: 10px auto;
  display: block;
}
