body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Varela Round', sans-serif;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(white, white, rgb(28, 36, 44));  
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px; 
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); ; 
}

body::-webkit-scrollbar-corner {
  display: none;
  background: rgb(28, 36, 44); 
}



